# Python
__pycache__/
*.pyc
*.pyo
.venv/
.env

# ROS 2 Workspace
botzilla_Workspace/build/
botzilla_Workspace/install/
botzilla_Workspace/log/

# IDE / Editor
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

/myenv/

# datasets 
datasets/Cube-Detection-Dataset-3/test/images/
datasets/Cube-Detection-Dataset-3/train/images/
datasets/Cube-Detection-Dataset-3/valid/images/
datasets/vids/
runs/
