# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# ROS 2 Workspace
botzilla_Workspace/build/
botzilla_Workspace/install/
botzilla_Workspace/log/

# IDE / Editor
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

/myenv/
datasets/